@use 'src/app/App';

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  align-items: center;
  color: #f5f5f5;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  cursor: pointer;
}

.product-svg{
  height: 50px;
  margin: 10px 0 0 ;
  filter: invert(100%) sepia(2%) saturate(7478%) hue-rotate(342deg) brightness(113%) contrast(121%);
}

.product-label{
  text-overflow: ellipsis;
  margin: 5px 0 0 ;
  font-size: 20px;
}

.products-wrapper {
  width: 370px;
  flex-grow: 1;
  margin: 10px;
}

.ant-collapse-content-box{
  max-height: 300px;
  background-color: #ffffff;
  overflow: auto;
}

.ant-collapse{
  border: 0;
}

.ant-collapse-header{
  display: flex;
  justify-content: center;
  border-radius: 6px 6px 0 0 !important;
  padding: 10px 16px;
  color: rgba(255, 255, 255, 0.96) !important;

  font-weight: 500;
  font-size: 20px;
}

.ant-collapse > .ant-collapse-item {
  border: 0;
}

.ant-collapse > .ant-collapse-item.ant-collapse-no-arrow > .ant-collapse-header{
  padding: 5px ;
}

.products-header{
  display: flex;
  flex-direction: column;
  align-items: center;

  svg{

    height: 12px;
    transition: .4s all ease;
  }
}

.products-header.active{
  svg{
    transform: rotate(-180deg);
  }
}

.products-wrapper.meat {
  .product {
    background-color: App.$meat;
  }
  .ant-collapse-header{
    background-color: App.$meat;
  }
}

.products-wrapper.dairy {
  .product {
    background-color: App.$dairy;
  }
  .ant-collapse-header{
    background-color: App.$dairy;
  }
}

.products-wrapper.vegetable {
  .product {
    background-color: App.$vegetable;
  }
  .ant-collapse-header{
    background-color: App.$vegetable;
  }
}

.products-wrapper.fruit {
  .product {
    background-color: App.$fruit;
  }
  .ant-collapse-header{
    background-color: App.$fruit;
  }
}

.products-wrapper.bakery {
  .product {
    background-color: App.$bakery;
  }
  .ant-collapse-header{
    background-color: App.$bakery;
  }
}

.products-wrapper.sweets {
  .product {
    background-color: App.$sweets;
  }
  .ant-collapse-header{
    background-color: App.$sweets;
  }
}

.products-wrapper.fastfood {
  .product {
    background-color: App.$fastfood;
  }
  .ant-collapse-header{
    background-color: App.$fastfood;
  }
}

.products-wrapper.different {
  .product {
    background-color: App.$different;
  }
  .ant-collapse-header{
    background-color: App.$different;
  }
}

.icon-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /* animation: bounce 0.3s 1 forwards; */
  img {
    width: 50px;
    height: auto;
  }
  img:last-child {
    position: absolute;
  }
}

.icon-container:active {
  animation: press 0.2s 1 linear;
}

.icon-container:active img:last-child {
  animation: bounce 0.2s 1 linear;
}

@keyframes press {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.92);
  }
  to {
    transform: scale(1);
  }
}

@keyframes bounce {
  50% {
    transform: rotate(5deg) translate(20px, -50px);
  }
  to {
    transform: scale(0.9) rotate(10deg) translate(50px, -80px);
    opacity: 0;
  }
}

@media (max-width: 1024px) {
  .products-wrapper {
    width: 100%;

  }
}

@media (max-width: 768px) {
  .products-wrapper {
    margin: 0 0 20px;
    width: 350px;
    flex-grow: 1;
  }
}

